@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 0.5s;
}

.all {
    background: linear-gradient(#bdc3c7 , #2c3e50);
    position: relative;
    width: 100%;
    height: 700px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.5s;
  }

.all.active{
    background: linear-gradient(#ffd89b , #19547b);

}
.container{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.blueBg{
    position:absolute;
    top:40px;
    width: 100%;
    height: 420px;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blueBg .box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blueBg .box h2{
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.blueBg .box button {
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    color: #333;
    font-size:16px ;
    font-weight: 500;
    border: none;
}

.formBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0,0,0,0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
.formBx.active{
    Left: 50%;

}

.formBx .form{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}

.formBx .signinForm{
    transition-delay: 0.25s;
}

.formBx.active .signinForm{
    left: -100%;
    transition-delay: 0s;
}

.formBx .signupForm{
    left: 100%;
    transition-delay: 0s;
}
.formBx.active .signupForm{
    left: 0;
    transition-delay: 0.25s;
}
.formBx .form form{
    width: 100%;
    display: flex;
    flex-direction: column;
} 

.formBx .form form h3{
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
}
.formBx .form form .input-data{
    height: 40px;
    position: relative;
}
.formBx .form form input{
    width: 100%;
    margin-bottom: 20px;
    padding:10px;
    outline: none;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #2c3e50;
}

.formBx .form form label{
position: absolute;
bottom: 10px;
left: 0;
color: grey;
pointer-events: none;
transition:all 0.3s ease;
}

.form-row .underline{
    position: absolute;
    bottom: 0px;
    height:2px;
    width: 100%;
    background: grey;
}
.form-row .underline::before{
    position: absolute;
    content: "";
    bottom: 0px;
    height:100%;
    width: 100%;
    background: #2c3e50;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.form-row input:focus ~ .underline::before,
.form-row input:valid ~ .underline::before{
    transform: scaleX(1);
}

.form-row input:focus ~ label,
.form-row input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #2c3e50;
}
.formBx .form form input[type="submit"]{
    background: #2c3e50;
    border:none;
    color: #fff;
    cursor: pointer;
}
.formBx .form form input[type="submit"]:hover {

    animation: rotate 1.5s linear infinite;
    /*animation-iteration-count: infinite;
    animation-direction: alternate;*/
  }
.formBx.active .signupForm input[type="submit"]{
    background: #19547b;
}

.formBx.active .signupForm input[type="submit"]:hover {

        animation: rotate 1.5s linear infinite;
        /*animation-iteration-count: infinite;
        animation-direction: alternate;*/
      }
      @keyframes rotate {
        from{
          filter: hue-rotate(0deg);
        }to{
          filter: hue-rotate(360deg);
        }
        
      }    
  
.formBx .form form .forgot{
    color: #333;
}
@media (max-width: 991px) {
    .container
    {
        max-width: 400px;
        height:650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .blueBg{
        top: 0;
        height: 100%;
    }
    .formBx{
        width: 100%;
        height: 500px;
        top: 0;
        box-shadow: none;
    }
    .blueBg .box{
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }
    .box.signin
    {
        top:0;
    }
    .formBx.active{
        left: 0;
        top: 150px;
    }
}

  
  /** this is for the content width of the page **/
  .full-page {
    width: 70%;
    margin: 0 auto;
  }
  .form-row {
    height: 40px;
    display: flex;
    position: relative;
    margin: 20px 0 10px;
  }
  .inp {
    width: 100%;
    flex: 1 0 100%;
    height: 40px;
    line-height: 20px;
    font-size: 1rem;
    padding: 0 10px;
  }
  .placehold {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 11px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    opacity: 0.7;
    transition: all 0.3s ease;
  }
  .placehold b {
    color: #19547b;
  }
  .inp:focus + .placehold,
  .inp:valid + .placehold {
    transform: translateY(-95%);
  }
  .inp:placeholder {
    visibility: hidden;
  }
  
  .inp::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: transparent;
  }
  .inp::-moz-placeholder {
    /* Firefox 19+ */
    color: transparent;
  }
  .inp:-ms-input-placeholder {
    /* IE 10+ */
    color: transparent;
  }
  .inp:-moz-placeholder {
    /* Firefox 18- */
    color: transparent;
  }
  .inp:placeholder {
    /* No spec for this yet!! */
    color: transparent;
  }
  .inp:not(:placeholder-shown) + .placehold {
    transform: translateY(-95%);
  }
  .inp:invalid:not(:placeholder-shown) + .placehold b:after {
    content: " - Error";
    color: red;
    font-weight: bold;
  }
  
  /* code for optional input*/
  .inp.optional:placeholder-shown + .placehold {
    transform: translateY(0%);
  }
  .inp.optional:not(:placeholder-shown) + .placehold {
    transform: translateY(-95%);
  }
  .inp.optional:focus + .placehold {
    transform: translateY(-95%);
  }
  