.wrapping{
    background-color: rgb(10, 10, 10);
    
}
tr th{
    color: white;
}
tr td{
    color: white;
}
.table{
    background-color: rgb(29, 28, 28);
    border-radius: 20px;
}

 .thead{
    background-color: rgb(73, 71, 71);

}